<link href="/components/header/header.css" rel="stylesheet" type="text/css" />

<header class="header">
  <div class="header_container">
    <div class="logo">
      <img src="/images/logos/logo-h-w.png" alt="logo-h-w.png" />
    </div>
    <div class="header_middle">
      <div class="pages">
        <div class="page" id="home_nav_button">Inicio</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
        <div class="page">Page</div>
      </div>
    </div>
    <div class="header_right">
      <div class="item_container">
        <div class="icon">
          <img src="/images/icons/location-svgrepo-com.svg" alt="location" />
        </div>
        <div class="item_text">Location label</div>
      </div>
      <div class="item_container">
        <div class="icon">
          <img src="/images/icons/whatsapp-svgrepo-com.svg" alt="whatsapp" />
        </div>
        <div class="item_text">Contact label</div>
      </div>
    </div>
  </div>
  <div class="header_mobile">
    <div class="mobile_icons_container">
      <div class="icon">
        <img src="/images/icons/phone-svgrepo-com.svg" alt="phone" />
      </div>
      <div class="icon">
        <img src="/images/icons/whatsapp-svgrepo-com.svg" alt="whatsapp" />
      </div>
      <div class="icon">
        <img src="/images/icons/location-svgrepo-com.svg" alt="location" />
      </div>
      <div class="icon">
        <img src="/images/icons/hamburger-menu-svgrepo-com.svg" alt="hamburger" />
      </div>
    </div>
  </div>
</header>

<script src="/components/header/header.js" type="text/javascript"></script>
